* {
  margin: 0;
  font-family: serif, "Microsoft YaHei";
}

body {
  margin: 20px;
}

#main {
  margin: 0 auto;
  width: 1366px;
}

#overview-cards {
  display: flex;
  justify-content: space-around;
}

#overview-cards article {
  flex: 1 0 0;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  position: relative;
}

#overview-cards article p {
  margin: 16px 4px;
  display: flex;
  justify-content: space-between;
}

#card-all {
  background-color: #31b48d;
}

#card-pending {
  background-color: #38a1f2;
}

#card-active {
  background-color: #7538c7;
}

#card-closed {
  background-color: #3b67a4;
}

.card-type {
  font-size: 14px;
}

.card-count {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.card-tag {
  padding: 0 4px;
  align-self: center;
  font-size: 12px;
  line-height: 24px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.card-percent {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.card-icon {
  position: absolute;
  bottom: 0;
  right: 12px;
  font-size: 100px;
  opacity: 0.3;
}

#projects-details table {
  margin: 10px;
  table-layout: auto;
  border-collapse: collapse;
  color: #333;
}

#projects-details caption {
  margin: 20px 0;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
}

#projects-details tr {
  border-bottom: 1px solid #dcdee3;
}

#projects-details td:nth-child(1) {
  width: 20%;
}

#projects-details td:nth-child(2) {
  width: 40%;
}

#projects-details td:nth-child(n+3) {
  width: 10%;
}


#projects-details thead {
  background: #ebecf0;

}

#projects-details thead td {
  height: 24px;
  padding: 12px;
}


#projects-details tbody td {
  padding: 12px;
  vertical-align: middle;
}

#projects-details p {
  max-height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  line-height: 24px;
}

.status-pending {
  color: #ee706d;
}

.status-pending {
  color: #666666;
}

.status-closed {
  color: #f7da47;
}

.del-btn {
  padding: 8px 12px;
  background: #ee706d;
  color: white;
  border: 1px #ed6561 solid;
  border-radius: 4px;
  cursor: pointer;
}

.del-btn:active {
  opacity: 0.3;
}

#dialog {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.dialog-box {
  align-self: center;
  width: 340px;
  background: white;
  border-radius: 4px;
}

[id$="btn"] {
  cursor: pointer;
}

#close-btn {
  display: block;
  float: right;
  margin: 20px;
  font-size: 16px;
  color: #666;
}

#close-btn:active {
  opacity: 0.3
}

.hint-msg {
  margin: 48px 0 12px 20px;
}

.hint-icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  font-size: 24px;
  color: #f1c826;
}

.hint-body {
  display: inline-block;
}

.hint-title {
  margin-bottom: 0;
  font-size: 20px;
  color: #333;
  line-height: 24px;
}

.hint-text {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

#buttons {
  padding: 16px;
  text-align: right;
}

#buttons button {
  margin: 0 5px;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 3px;
}


#confirm-btn {
  background-color: #3080fe;
  color: white;
  border: 1px solid;
  border-color: #e2ddd5 #90897e #90897e #e2ddd5;
}

#confirm-btn:active {
  border-color: #90897e #e2ddd5 #e2ddd5 #90897e;
}

#cancel-btn {
  color: #333;
  background-color: white;
  border: 1px solid;
  border-color: #bec1cb #6d7076 #6d7076 #bec1cb;
}

#cancel-btn:active {
  border-color: #6d7076 #bec1cb #bec1cb #6d7076;
}