:root {
  --color-green: #31b48d;
  --color-blue: #38a1f2;
  --color-purple: #7538c7;
  --color-deepblue: #3b67a4;
  --color-red:  #ee706d;
  --status-pending:  #ee706d;
  --status-active: #666666;
  --status-closed: #f7da47;
  --color-text-deep: #333;
  --color-table-background: #ebecf0;
  --color-table-brder: #dcdee3

}

html {
  min-width: 1280px;
  font-family: serif, "Microsoft YaHei";
}

body {
  margin: 0;
}
#main{
  width: 1368px;
  margin: 0 auto;
}
#projects-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.overview-card {
  position: relative;
  flex: 1 0 0;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
}

.overview-card p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#overview-all {
  background-color: var(--color-green);
}

#overview-pending {
  background-color: var(--color-blue);
}

#overview-active {
  background-color: var(--color-purple);
}

#overview-closed {
  background-color: var(--color-deepblue);
}

.projects-type {
  font-size: 14px;
}

.projects-count {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.card-tag {
  font-size: 12px;
  border-radius: 4px;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.projects-percentage {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.icon {
  opacity: 0.3;
  font-size: 100px;
  position: absolute;
  bottom: 0;
  right: 12px;
}

#projects-details table {
  margin: 10px;
  table-layout: auto;
  border-collapse: collapse;
  color: #333;
  /*width: 100%;*/
}

#projects-details caption {
  margin: 20px 0;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

#projects-details thead {
  background: #ebecf0;

}

#projects-details thead td:nth-child(1) {
  width: 20%;
}
#projects-details thead td:nth-child(2) {
  width: 40%;
}
#projects-details thead td:nth-child(n+3) {
  width: 10%;
}

#projects-details thead td {
  height: 20px;
  padding: 12px;
}
#projects-details tbody td {
  height: 36px;
  padding: 12px;
  transition: 250ms;
}

#projects-details p {
  line-height: 16px;
  margin: 0;
  height: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  transition: 250ms;
}

#projects-details tr {
  border-bottom: 1px solid #dcdee3;
}
.status-pending{
  color: var(--status-pending);
}
.status-active{
  color: var(--status-active);
}
.status-closed{
  color: var(--status-closed);
}
.del-btn {
  background: var(--color-red);
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  border-style: none;
  transition: opacity 100ms;
}
.del-btn:active {
  opacity: 0.5;
}